{% extends 'base.html'%}
{% load static %}

  <!-- <title>1inci</title>
  <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/logo/inci.png'%}" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  <link rel="stylesheet" href="{% static 'css/user.css'%}" /> -->
  <!-- <style>

      /* footer */
    .upper-footer,
    .lower-footer {
      background: #000;
    }

    .social_media h3,
    .social_media a,
    .us_contact h3,
    .us_contact ul li a,
    .site_map h3,
    .site_map ul li a {
      color: #fff;
    }

    .site_map ul li a:hover {
      transform: scale(1.2);
      transition: all 1s ease-in-out;
    }
    /* scroll bar */
    * {
      scrollbar-width: auto;
      scrollbar-color: #000;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 10px;
    }

    *::-webkit-scrollbar-track {
      background: #000;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #000 !important;
      border-radius: 1px;
      border: 2px solid #000;
    }
    .border-left {
      border-left: 1px solid red !important;
      margin-left: 10px !important;
    }

    /* Scroll bar */
    .item-name {
      height: 70px;
      overflow: hidden !important;
      white-space: wrap;
    }

    .text-yellow {
      color: #000 !important;
    }

    .bg-yellow {
      background-color: #f00 !important;
    }

    .search_box > button {
      background-color: #000 !important;
    }

    .search_box > button {
      width: 60px;
      height: 50px;
    }

    .search_box > button > i {
      font-size: 24px !important;
    }

    .p-3 {
      padding: 0.5rem !important;
    }

    .rounded_img {
      border-radius: 5px !important;
    }

    .p-start-2 {
      padding-left: 10px;
    }
    /* catagory */
    
.margin-left{
margin-left: 10px !important;
}

.card-change{
background-color: #fff;

}
.card-change .dropdown-menu{
color: #000;
background-color: #fff;
padding: 0;
margin: 0;
font-size: 1rem;
border: 0px;
border-radius: 0px;
}
.catagory ul > li > a i {
color: #f00 !important;
font-size: 16px;
margin-left: auto;
margin-right: 3px;
margin-top: 10px;
}
.catagory ul > li > a:hover {
background-color: #fff;
color: #000;
margin-left: 5px !important;
}
.catagory  ul > li > a{
color: #000;
font-family: 'Poppins', sans-serif !important;
}
.font-catagory{
font-family: 'Poppins',sans-serif !important;
}

.leter_spacing{
letter-spacing: 1.5px;
color: #000000;
}

.text_change{
font-size: 14px;
letter-spacing: 1.5px;
color: #000000;
font-family: 'Poppins', sans-serif !important;
}
.nav-link:hover,
.nav-link:focus {
color: #000;
}
  </style> -->
<!-- </head>
<body class="color-theme-yellow mont-font">
  <div class="preloader"></div>
  <div class="main-wrapper bg-lightgrey">
    {% include 'bin/header.html' %} -->
    
    
    {% block base %}
    <!-- <h1 class="fw-600 font-xss leter_spacing text-center mt-3">Bizim Haqqımızda</h1> -->
    <div class="container mb-5">
      <div class="row ">
        <div class="col-md-7 col-12">
          <h2 class="text-center leter_spacing font-xss mt-5 fw-500 border-bottom pb-3 ">Bizim Haqqımızda</h2>
          <li style="color: #000;" class="text_change">
            1inci Grouppp MMC 2005-ci ildən Azərbaycanın tikinti bazarında fəaliyyət göstərir. Şirkət bir neçə yerli və xarici istehsalçıların rəsmi nümayəndəliyidir. Bundan əlavə peşəkar təmir və tikinti işləri ilə də tanınır. Şirkətin əsas məqsədi fərdi və ya korporativ müştəriləri yüksək keyfiyyətli məhsullarla təmin etməkdir. Bundan əlavə 1inci Group müştərilərə kreditlə tikinti materialları almaqda da yardımçı olur.
          </li>
        </div>
        <div class="col-md-5">
          <div class="img_about mt-5">
            <img src="https://images.unsplash.com/photo-1638913658179-18c9a9c943f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
        </div>
      </div>
      
    </div>
    {% endblock %}


<!-- 

    {%include 'bin/footer.html'%}
  </div>

  {% include 'bin/menu.html' %} -->

  <!-- <script src="{% static 'js/plugin.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script src="{% static 'js/scripts.js' %}"></script> -->
<!-- </body>
</html> -->