{% extends 'base.html' %}
{% load static i18n %}

{%block title %}{% translate 'Ödəmə' %}{% endblock %}
{% block base %}
<!-- <h1 class="fw-700 text-center mb-5 mt-5">
      {% translate 'Tezliklə məlumatlar yüklənəcək...' %}
    </h1> -->

    <div class="container mb-5">
      <div class="row ">
        <div class="col-md-12">
          <div class="img_about mt-5">
            <img src="{% static 'images/why+join+hero.jpeg' %}" alt="">
          </div>
        </div>
        <div class="col-md-12">
          <h2 class="text-center leter_spacing mt-5 fw-500 border-bottom pb-3 ">{% translate 'Ödəniş üsulları' %}</h2>
          <li style="color: #000;" class="text_change">
            <div style="text-align: center;">
              {% translate 'Siz fərqli ödəmə üsulları ilə şirkətimizdən alış-veriş edə bilərsiniz:' %}
            </div>
            <br><br>
            <div style="color: red">
              {% translate '1. NAĞD' %} 
            </div>
            {% translate 'Bütün məhsullarımızdan endirimli şəkildə nağd ödəmə vasitəsi ilə yararlana bilərsiniz.' %}
            <br><br>
            <div style="color: red">
              {% translate '2. TAKSİT KARTLARI' %} 
            </div>
            {% translate 'BirKart, TamKart, BolKart, Albalı Kart kimi taksit kartlarından istifadə edərək, siz ödəmənizi 12 aya qədər hissəli şəkildə edə bilərsiniz.' %}
            <br><br> 
            <div style="color: red">
              {% translate '3. KORPORATİV' %} 
            </div>
            {% translate 'Bir sıra şirkətlər üçün həmçinin korporativ təkliflərimiz də mövcuddur. Siz bizim şirkətimizlə korporativ şəkildə əməkdaşlıq edərək, aldığınız məhsulların ödənişini köçürmə yolu ilə də edə bilərsiniz.' %}
            <br><br>
            <div style="color: red">
              {% translate '4. KREDİT' %} 
            </div>
            {% translate '1inci Group sizin işinizi asanlaşdırmaq üçün məhsulları kreditlə əldə etmək şansını da verir. Kredit şərtlərimiz ilə tanış olun:' %}
            <br><br>
            <ul>
              <li style="list-style-type: square; margin-left: 15px;">
              {% translate 'Rəsmi iş yeriniz varsa və əvvəlki kredit tarixçənizdə gecikmə olmayıbsa, 3 aydan başlayan müddətə kredit əldə edə bilərsiniz. Bu zaman illik faiz dərəcəsi 23,5-dir.' %}
              </li>
              <li style="list-style-type: square; margin-left: 15px;">
              {% translate 'Rəsmi iş yeriniz yoxdursa (əmək müqaviləsi ilə işləmirsinizsə), tək şəxsiyyət vəsiqəsilə ilkin ödənişsiz kreditlə istənilən materialı ala bilərsiniz. Bu zaman illik kredit faizi 30-dur.' %}
              </li>
              <li style="list-style-type: square; margin-left: 15px;">
              {% translate 'Kredit verilməsi üçün daha öncəki kredit tarixçəsində dollar problemi olmamalı, öhdəliyiniz çox olmamalıdır.' %}
              </li>
              <li style="list-style-type: square; margin-left: 15px;">
              {% translate 'Əsas tələb etibarlılıq müddəti bitməyən şəxsiyyət vəsiqəsi və 2 ev nömrəsidir. Verilən nömrələrlə əlaqə saxlanılır. Öz ev nömrənizin olması şərt deyil.' %}
              </li>
              <li style="list-style-type: square; margin-left: 15px;">
              {% translate 'Naxçıvan MR qeydiyyatı istisna olmaqla, digər ölkə qeydiyyatında olan vətəndaşlara kredit ayrılır (sorğunuz təsdiqlənərsə).' %}
              </li>
              <li style="list-style-type: square; margin-left: 15px;">
              {% translate 'Bank kreditidir. İlkin ödəniş, bank tələb edərsə, istənilir.' %}
              </li>
            </ul>
            <br>
             <div style="color: red;">{% translate 'QEYD:' %}</div> 
             {% translate '- Ödəməni ofisdən əlavə, məhsulların çatdırılması zamanı təhvil nöqtəsində nağd və POS terminal vasitəsi ilə həyata keçirə bilərsiniz.' %}
             <br><br>
             <div style="color: red;">{% translate 'DİQQƏT:' %}</div> 
             {% translate '- Sifariş olunan məhsullar təhvil alındıqda, satışla əlaqədar qəbz və satış qaiməsi təqdim edilir.' %}
          </li> 
        </div>

      </div>
      
    </div>
{% endblock %}